body {
    background-color: #9932CC; /*цвет*/
    color: white;

/* font-size: 19px;   
font-weight: normal; 
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */

font: normal 19px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: #0000FF;
    text-decoration: none;
}


/* При наведении на сслку будет гореть подчеркивание */
a:hover {                        
    text-decoration: underline;
}


/* Здесь ячейки информации */
.card {
    padding: 15px 20px;
    background: #FF1493;
    border: 4px solid white;
    margin-bottom: 20px;
    border-radius: 20px;
}

.i {
    display: flex;
    margin-bottom: 20px;
}

.info-text {
    margin-left: 50px;
    margin-top: 70px;
}




/* text model */
.Avatar {
    width: 240px;
    height: 320px;
    border-radius: 20px;
    box-shadow: -5px 9px 20px rgba(37, 37, 37, 0.952);
}

.i h3 {
    color: #DCDCDC;
    margin: 0%;
    text-decoration: underline;
}

.i h1 {
    margin: 0%;
}

.education p {
    margin: 1%;
}

.education h3 {
    margin: 1%;
}

.aim p {
    margin: 0%;
}

.hobby p {
    margin: 0%;
}


/* Box model */

.container {
    max-width: 1000px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}


/* .education {
    background: #9932CC;
    color: white;
    padding: 0px;
    border: 5px solid white;

} */

/* .box-model > div {
    float: left;
    background: black;
    height: 200px;
    width: 25%;
    border: 2px solid red;
    box-sizing: border-box;
} */



